.dropdown {
    margin-top: 5px ;
    position: relative;
    display: inline-block;
    &:hover{
        .dropdown__content {
          display: block;    
          margin-top: 15px;
          &-cart{
            margin-top: 6px;
            padding: 20px;
          }
        }
    } 
    &__dropbtn {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 45px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        &-cart{
          background-color: transparent;
          &:hover{
            background-color: transparent;
          }
        }
    }
    &__content {
      display: none;
      position: absolute;
      right: -40px;
      background-color: #f9f9f9;
      min-width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      transition: all 0.5s;
      a {
        color: black;
        padding: 12px 16px!important;
        text-decoration: none;
        text-align: center;
        display: block;
      }
      .logout-btn{
        background-color:black;
        color: #f1f1f1;
        box-sizing: border-box;
        box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.4);
        width: 100px;
        margin-bottom: 7px!important;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover { 
          background-color:black;
          color: #f1f1f1; 
          margin-bottom: 2px;
          border-radius: 8px;
        }
      }
    }
}