.dropdown {
    margin-top: 5px ;
    position: relative;
    display: inline-block;
    &:hover{
        .dropdown__content {
          display: block;    
          margin-top: 15px;
          z-index: 10;
          &-cart{
            z-index: 10;
            margin-top: 0px;
            padding: 1rem;
            width: 15rem;
            .cart-items{
              border-bottom: 1px solid lightgray;
              display: flex;
              cursor: pointer;
              img{
                width: 50px;
                height: 50px;
              }
              .item{
                text-align: left;
                margin-left: .5rem;
                cursor: pointer;
                padding: .25rem 0;
                h4{
                  margin: 0;
                  text-transform: capitalize;
                  display: -webkit-box!important;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: normal;
                  max-height: 3.4rem;
                  margin-bottom: .4rem;
                  opacity: .8;
                }
                p{
                  margin: 0;
                  opacity: .7;
                  font-size: .9rem;
                }
                .item-price{
                  font-weight: bold;

                }
              }
            }
            .total-price{
              display: flex;
              opacity:.8;
            }
            .go-to-cart{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: #0f7c90;
              margin-top: .1rem;
              color: white;
              font-size:1rem;
              font-weight:bold;
            }
          }
        }
    } 
    &__dropbtn {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 45px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        &-primary{
          margin-top: 10px;
        }
        &-cart,&-primary{
          background-color: transparent;
          &:hover{
            background-color: transparent;
          }
        }
    }
    &__content {
      display: none;
      position: absolute;
      right: -40px;
      background-color: #f9f9f9;
      min-width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      transition: all 0.5s;
      a {
        color: black;
        padding: 12px 16px!important;
        text-decoration: none;
        text-align: center;
        display: block;
      }
      .logout-btn{
        background-color:black;
        color: #f1f1f1;
        box-sizing: border-box;
        box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.4);
        width: 100px;
        margin-bottom: 7px!important;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover { 
          background-color:black;
          color: #f1f1f1; 
          margin-bottom: 2px;
          border-radius: 8px;
        }
      }
    }
}