$white: #FFFFFF;
$red: #FF0202;
$black: #1A1A1A;
$gray: #999999;
$darkGray: #666666;

$input-font: 14px;
$input-err-font: 11px;
$line-height: 16px;
$label-font: 14px;
$label-font-active: 14px;

.input{
  height: 74px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 16px 0;
  position: relative;
  font-family: 'Maax', serif;
  cursor: text;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;

  .label{
    margin: auto 0;
    font-size: $input-font;
    transition: all .24s ease;
    -webkit-transition: all .24s ease;
    -moz-transition: all .24s ease;
    position: absolute;
    text-transform: none;
    top: 50%;
    font-family: 'Maax', serif;
    pointer-events: none;
    transform: translateY(-50%);
  }

  input{
    margin: auto 0;
    font-size: 14px;
    line-height: 22px;
    border: none;
    outline: none;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    padding-top: 6px;
    background-color: transparent;
    flex: 1;

    &::placeholder {
      color: $gray;
      padding-left: 6px;
    }
    opacity: 0;
  }

  &.active{
    .label{
      top: 27%;
      padding-left: 0;
      font-size: 10px;
    }
    input{
      opacity: 1;
    }
  }

  &__bright{
    input{
      color: $white;
      background: $black;
      caret-color: $black !important;

      &:-webkit-autofill {
        box-shadow:0 0 0 50px $white inset;
        text-fill-color: $black;
        -webkit-box-shadow:0 0 0 50px $white inset;
        -webkit-text-fill-color: $black;
        -moz-box-shadow:0 0 0 50px $white inset;
        -moz-text-fill-color: $black;
        //caret-color: $white !important;
      }

      &:-webkit-autofill:focus {

        box-shadow:0 0 0 50px $white inset;
        text-fill-color: $black;
        -webkit-box-shadow:0 0 0 50px $white inset;
        -webkit-text-fill-color: $black;
        -moz-box-shadow:0 0 0 50px $white inset;
        -moz-text-fill-color: $black;
        //caret-color: $white !important;
      }
    }
  }

  &__dark{
    border-bottom: 1px solid $white;
    .label{
      color: $gray;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border:none !important;
      -webkit-text-fill-color: #FFFFFF !important;
      -webkit-box-shadow: 0 0 0px 1000px $black inset;
      font-size: $input-font !important;
      transition: background-color 5000s ease-in-out 0s;
      caret-color: $white !important;
      //background-color: $black !important;
    }

    input{
      color: $white;
      background: $black;

      &:-webkit-autofill {
        box-shadow:0 0 0 50px $black inset;
        text-fill-color: $white;
        -webkit-box-shadow:0 0 0 50px $black inset;
        -webkit-text-fill-color: $white;
        -moz-box-shadow:0 0 0 50px $black inset;
        -moz-text-fill-color: $white;
        background-color: $black !important;
      }

      &:-webkit-autofill:focus {

        box-shadow:0 0 0 50px $black inset;
        text-fill-color: $white;
        -webkit-box-shadow:0 0 0 50px $black inset;
        -webkit-text-fill-color: $white;
        -moz-box-shadow:0 0 0 50px $black inset;
        -moz-text-fill-color: $white;
        background-color: $black !important;
      }

      &::selection {
        background-color: $white !important;
        color: $black !important;
      }
    }
  }

  &__bright{
    border-bottom: 1px solid $black;
    .label{
      color: $darkGray;
    }
    input{
      background: $white;
      color: $black;
    }
  }

  //&__error{
  //
  //}

  &--disabled{
    opacity: 0.5;
    cursor: no-drop !important;
    pointer-events: none;
  }

  &--password{
    position: relative;
    & > input{
      padding-right: 50px;
    }
    .eye-icon{
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      z-index:11;
      user-select: none;

      img{
        max-width: 100%;
        height: auto;
      }
      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 3px;
        border-radius: 30px;
        height: calc(100% + 3px);
        opacity: 1;
        background-color: $black;
      }
      &.bright {
        &:before{
          background-color: $white !important;
        }
      }
      &.password-visible{
        &:before{
          opacity: 0;
        }
      }
    }
  }

  & > .input-err-msg{
    opacity: 0;
    position: absolute;
    top: 98px;
    transition: all 0.23s ease-in-out 0.31s;
    width: calc(100% - 30px);
    color: $red;
    font-size: $input-err-font;
    line-height: 14px;
    @media screen and (min-width: 781px){
      display: none;
    }
    @media screen and (max-width: 510px){
      top: 70px;
    }
  }

  &--error{
    border-bottom: 1px solid $red;
    @media screen and (max-width: 780px){
      margin-bottom: 43px !important;
      & > .input-err-msg{
        opacity: 1;
      }
    }
    @media screen and (max-width: 400px){
      margin-bottom: 55px !important;
    }
    @media screen and (max-width: 400px){
      margin-bottom: 55px !important;
    }

  }


  @media screen and (max-width: 510px){
    height: 75px;
    background-color: transparent;
    border-radius: 2px;

    & > input{
      padding-top: 0;
      margin-top: 8px;
    }
  }
}
