
/** mixins */
@import  '../../styles/mixins.scss';

.teacherBoarding {
    display: flex;
    min-height: 25rem;
    flex-direction: column;
    justify-content: center;
    &__hero{
        display: flex;
        flex-direction: column;
        min-height: 37rem;
        justify-content: center;
        background-image: url('../../assets/images/teachers/teacherBoardingBackground.jpg');
        img{
            display: none;
        }
      &--cta-box{
        margin-left:10rem;
        h2{
            font-size:3rem;
            font-weight: 600;
            color: whitesmoke;
            margin: 0;
        }
        p{ 
            font-size:1.25rem;
            font-weight: 500;
            color: lightgray;
            max-width: 350px;
            letter-spacing: 1.2px;
            // margin: 0;

        }
        .cta-btn{
            margin-left:.5rem;
            @include checkoutBtn;
            .btn{
                min-width: 100px!important;
                // padding: 8px 50px!important;
            }

        }
      }
    }  
    &__reasons{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 20rem;
        h3{ 
            font-size:2rem;
            text-transform: capitalize;
        }
        &--items{
            display: flex;
            align-items: center;
            gap: 1rem;
            &-item{
                display: flex;
                flex-direction:column;
                justify-content:center;
                align-items: center;
                width: 25rem;
                padding: 1rem;
                img{
                    width: 100px;
                    height: 100px;
                }
                h4{
                    font-size:1.2rem;
                    font-weight: 600;
                    text-transform: capitalize;
                }
                p{
                    text-align: center;
                    padding: 0 1rem;
                    font-size:1rem;
                    font-weight: 600;
                    opacity: .8;
                    color: #3d3c3c;
                    max-width: 350px;
                    letter-spacing: 1.1px;
                    line-height: 1.5;
                    margin-top: 0;

                }
            }
        }
    }
    &__stats{
        display: flex;
        background-color: #5624D0;
        align-items: center;
        justify-content: center;
        min-height:10rem;
        color: white;
        & > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:5rem;
            span{                
                font-size:1.15rem;
            }
            .number{
                font-size:2.75rem;
                font-weight: 600;
                text-transform: uppercase;
            }
            
        }
    }
    &__steps{
        display:flex;
        flex-direction: column;
        align-items:center;
        h3{
            font-family: "Maax", serif;
            font-size:3rem;
            margin:5rem 0 0 0;
            color: black;
        }
        ul{
            display:flex;
            align-items:center;
            border-bottom: 1px solid lightgray;
            li{
                list-style:none;
                font-size:1.5rem;
                padding:1rem;
                font-weight: 600;
                opacity:0.7;
                text-transform:capitalize !important;
                cursor: pointer;
            }
            .active{
                opacity:1;
                border-bottom: 1px solid black;
                margin-bottom:0r;

            }
        }
        .tabs{
            display: flex;
            &__content{
                margin-top: 3rem;
                p{
                    max-width: 25rem;
                    margin-bottom:1rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2;
                }
                h4{
                    margin: 0;
                    font-weight: 600;
                    font-size: 1.25rem;
                }
            }
        }
    }
    &__steps-accordion{display: none;}
    &__feedback{
        background: #FBFBF8;
        width: 100%;
        margin: 7.5rem 0;
        .container{
            display: flex;
            padding:3.5rem 0;
            img{
                position: absolute;
                width: 340px;
                height: 350px;
                bottom: 28.5%;
            }
            .content{
                display: flex;
                flex-direction: column;
                z-index: 5;
                right: -50%;
                position: relative;
                h4{
                    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
                    font-weight: 700;
                    line-height: 1.25;
                    letter-spacing: -.05rem;
                    margin-bottom:0
                }
                p{
                    width:35rem;
                    font-size:1.5rem
                }
                span{
                    margin:0;
                    opacity: .75;
                }
            }
        }
    }
    &__support{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        h3{
            font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
            font-weight: 700;
            font-size: 3rem;
            line-height: 1.15;
            letter-spacing: -.05rem;
            color: black;
            text-align: center;
        }
        p{
            margin-left: auto;
            margin-right: auto;
            font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
            font-weight: 400;
            line-height: 1.4;
            font-size: 1.2rem;
            text-align: center;
            max-width: 40rem;

        }
    }
    &__cta{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: #F7F9FA;
        padding: 4rem 2.75rem;
        h3{  
            font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
            font-weight: 700;
            color: black;
            font-size: 3rem;
            line-height: 1.15;
            letter-spacing: -.05rem;
            margin: 0;
        }
        p{
            // margin: 0;
            font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
            font-weight: 400;
            line-height: 1.4;
            font-size: 1.25rem;
            // color: #000;
        }
        button{
            background-color: #000;
            color: #fff;
            position: relative;
            align-items: center;
            border-radius: 0;
            border: none;
            cursor: pointer;
            display: inline-flex;
            padding: 1rem 7rem;
            font-size: 1.2rem;
            font-weight: 600;
            min-width: 8rem;
            justify-content: center;
            user-select: none;
            vertical-align: bottom;
            white-space: nowrap;
        }

    }
    &__auth-popup{
        display: none;
        &-active{
            position: fixed;
            top: 0;
            // left: 0;
            width: 100%;
            min-height: 100vh;
            height: 100%;
            z-index: 111;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (max-width: 1025px){
        &__hero{
            background-position: center;
            &--cta-box{
                margin-left: 2rem;
                .cta-btn{margin-left:.5rem;.btn{padding: 8px 80px;}}
            }
        }
        &__reasons{
            padding:2rem;
            align-items: initial;
            h3{ 
                text-align: center;
                font-size:3rem;
            }
            &--items{
                &-item{ 
                    p{
                        max-width: 300px;
                        font-size: 1.5rem;
                    }
                    h4{font-size:1.5rem; font-weight:700;}
                }
            }
        }
        &__stats{
            justify-content: space-around;
            & > div{
                padding:3.5rem;
                border:none;
                text-align: center;
                span{font-size:1.5rem;}
                .number{font-size:2.5rem;}
            }
        }
        &__feedback{
            .container{
                img{
                    position: absolute;
                    width: 340px;
                    height: 350px;
                    bottom: 40%;
                    bottom: 32.1%;
                }
                .content{
                    display: flex;
                    flex-direction: column;
                    z-index: 5;
                    right: -44%;
                    position: relative;
                    p{width:30rem;}
                }
            }

        }
        &__support{
            flex-direction: column;
            h3{font-size: 3rem;}
            p{max-width: 40rem;}
            .support-2{display: none;}
        }
    }
    @media screen and (max-width: 800px){
        &__hero{
            background-position: center;
            
            &--cta-box{
                margin-left: 2rem;
                .cta-btn{margin-left:.5rem;.btn{padding: 8px 80px;}}
            }
        }
        &__reasons{
            padding:2rem;
            align-items: initial;
            h3{ 
                text-align: center;
                font-size:2.5rem;
            }
            &--items{
                &-item{ 
                    p{
                        max-width: 250px;
                        padding: 0;
                        color: black;
                        font-weight: 500;
                        letter-spacing: 0;
                    }
                }
            }
        }
        &__stats{
            justify-content: space-around;
            & > div{
                padding:2rem;
                border:none;
                text-align: center;
                span{font-size:1.25rem;}
                .number{font-size:2rem;}
            }
        }
        &__steps{display: none;}
        &__steps-accordion{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{font-size:2.5rem;}
            .tabs{
                display: flex;
                align-items: center;
                flex-direction: column;
                &__content{
                    order: 1 !important;
                    margin-top: 0;
                    p{max-width: 40rem; font-size: 1.2rem;}
                }
                img{order: 0; max-height: 450px;}
            }
        }
        &__feedback{
            flex-direction: column;
            margin: 2rem 0;
            .container{
                flex-direction: column;
                align-items: center;
                img{
                    position: initial;
                    width: 50vw;
                }
                .content{
                    flex-direction: column;
                    right: 0%;
                    h4{margin:0}
                    p{width:24rem;}
                }
            }

        }
        &__support{
            flex-direction: column;
            margin-bottom: 3rem;
            h3{font-size: 2.5rem;}
            p{max-width: 30rem;}
            img{width: 500px}
            .support-2{display: none;}
        }
        &__cta{
            h3{font-size:2.5rem;}
        }
    }
    @media screen and (max-width: 680px){
    &__hero{
        min-height: 0;
        justify-content: flex-start;
        background-color: white;
        background-image:none;
        img{display:block}
        &--cta-box{
            flex-direction: column;
            margin-left:0rem;
            text-align: center;

            h2{
                font-size:1.75rem;
                font-weight: 600;
                color: black;
                margin: 1rem 0; 
            }
            p{ 
                font-size:1rem;
                font-weight: 500;
                color: black;
                max-width: 350px;
                letter-spacing: 1.2px;
                margin-left: auto;
                margin-right: auto;
    
            }
            .cta-btn{
                @include checkoutBtn;
                margin-left:-1rem;
                .btn{
                    margin:auto;
                    padding: 8px 90px;
                    background-color:black !important;
                }
    
            }
        }
    }
    &__reasons{
        align-items: center;
        padding: 2rem;
        h3{ 
            font-size:1.5rem;
            color: #000;
        }
        &--items{
            flex-direction: column;
            &-item{
                flex-direction:column;
                width: 22rem;
                padding: 1rem;
                h4{
                    font-size:1.2rem;
                    color: #000;
                }
            }
        }
    }
    &__stats{
        min-height:5rem;
        flex-direction: column;
        & > div{
            padding:3rem;
            border-bottom:1px solid #DADADA;
            span{font-size:1rem;}
            .number{font-size:2rem;}
        }
    }
    &__steps{display: none;}
    &__steps-accordion{
        h3{font-size:1.5rem;}
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-bottom: 2rem;
        .tabs{
            display: flex;
            flex-direction: column;
            &__content{
                order: 1;
                margin-top: 0;
                p{
                    max-width: 20rem;
                    font-size: 1.2rem;
                }
            }
            img{order: 0;}
        }
    }
    &__feedback{
        display: flex;
        flex-direction: column;
        background: #FBFBF8;
        width: 100%;
        margin: 0;
        .container{
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-top: 2rem;
            img{
                position: initial;
                width: 100%;
                order: 0;
                height: auto;
            }
            .content{
                display: flex;
                flex-direction: column;
                z-index: 5;
                right: 0%;
                h4{
                    line-height: 1.25;
                    letter-spacing: -.05rem;
                    margin-bottom:0
                }
                p{
                    width:20rem;
                    font-size:1.2rem
                }
                span{
                    margin:0;
                    opacity: .75;
                }
            }
        }
    }
    &__support{
        flex-direction: column;
        margin-bottom: 2rem;
        h3{
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 1.15;
            letter-spacing: -.02rem;
            margin: 2.4rem auto 1.6rem;
            max-width: 15rem;

        }
        p{
            margin-left: auto;
            margin-right: auto;
            line-height: 1.4;
            font-size: 1.2rem;
            max-width: 17rem;                
        }
        img{
            width: 350px
        }
        .support-2{display: none;}
    }
    &__cta{
        align-items: center;
        padding: 4rem 2.75rem;
        h3{  
            font-size: 1.75rem;
            text-align: center;
            letter-spacing: .02rem;
            line-height: 1.1;
        }
        p{  
            line-height: 1.4;
            font-size: 1rem;
            color: #000;
            text-align: center;
        }
        button{
            display: flex;
            align-items: center;
            padding: 1rem 5rem;
            font-size: 1rem;
            min-width: 8rem;
        }

    }
    }
    @media screen and (max-width: 380px){
        &__hero{
            min-height: 0;
            justify-content: flex-start;
            background-color: white;
            background-image:none;
            img{display:block}
            &--cta-box{
                flex-direction: column;
                margin-left:0rem;
                align-items: center;
                text-align: center;

                h2{
                    font-size:1.75rem;
                    font-weight: 600;
                    color: black;
                    margin: 1rem 0; 
                }
                p{ 
                    font-size:1rem;
                    font-weight: 500;
                    color: black;
                    max-width: 350px;
                    letter-spacing: 1.2px;
        
                }
                .cta-btn{
                    @include checkoutBtn;
                    margin-left:-1rem;
                    .btn{
                        margin:auto;
                        padding: 8px 90px;
                        background-color:black !important;
                    }
        
                }
            }
        }
        &__reasons{
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            h3{ 
                font-size:1.5rem;
                color: #000;
            }
            &--items{
                flex-direction: column;
                &-item{
                    flex-direction:column;
                    width: 22rem;
                    padding: 1rem;
                    h4{
                        font-size:1.2rem;
                        color: #000;
                    }
                }
            }
        }
        &__stats{
            min-height:5rem;
            flex-direction: column;
            & > div{
                padding:3rem;
                border-bottom:1px solid #DADADA;
                span{font-size:1rem;}
                .number{font-size:2rem;}
            }
        }
        &__steps{display: none;}
        &__steps-accordion{
            h3{font-size:1.5rem;}
            flex-direction: column;
            align-items: center;
            width: 100vw;
            margin-bottom: 2rem;
            .tabs{
                flex-direction: column;
                &__content{
                    order: 1;
                    margin-top: 0;
                    p{
                        max-width: 20rem;
                        font-size: 1.2rem;
                    }
                }
                img{order: 0;}
            }
        }
        &__feedback{
            flex-direction: column;
            background: #FBFBF8;
            margin: 0;
            .container{
                flex-direction: column;
                padding: 0;
                margin-top: 2rem;
                img{
                    position: initial;
                    width: 100%;
                    order: 0;
                    height: auto;
                }
                .content{
                    flex-direction: column;
                    z-index: 5;
                    right: 0%;
                    h4{
                        line-height: 1.25;
                        letter-spacing: -.05rem;
                        margin-bottom:0
                    }
                    p{
                        width:20rem;
                        font-size:1.2rem
                    }
                    span{
                        margin:0;
                        opacity: .75;
                    }
                }
            }
        }
        &__support{
            flex-direction: column;
            margin-bottom: 2rem;
            h3{
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1.15;
                letter-spacing: -.02rem;
                margin: 2.4rem auto 1.6rem;
                max-width: 15rem;

            }
            p{
                margin-left: auto;
                margin-right: auto;
                line-height: 1.4;
                font-size: 1.2rem;
                max-width: 17rem;                
            }
            img{
                width: 350px
            }
            .support-2{display: none;}
        }
        &__cta{
            align-items: center;
            padding: 4rem 2.75rem;
            h3{  
                font-size: 1.75rem;
                text-align: center;
                letter-spacing: .02rem;
                line-height: 1.1;
            }
            p{  
                line-height: 1.4;
                font-size: 1rem;
                color: #000;
                text-align: center;
            }
            button{
                display: flex;
                align-items: center;
                padding: 1rem 5rem;
                font-size: 1rem;
                min-width: 8rem;
            }
    
        }
    }
    @media screen and (max-width:350px){
        &__hero{
            &--cta-box{
                h2{font-size:1.5rem;}
                p{ font-size:.9rem;}
                .cta-btn{margin-left:0;.btn{padding: 8px 70px;}}
            }
        }
        &__reasons{
            h3{ 
                font-size:1.25rem;
                text-align: center;
            }
            &--items{&-item{ p{    max-width: 250px;}}}
        }
        &__feedback{
            .container{
                .content{
                    margin-left: .5rem;
                    h4{margin: 0;}
                    p{width: 15rem; font-size: 1.2rem;}
                }
            }
        }
        &__support{
            h3{font-size: 1.25rem;}
            p{
                line-height: 1.7;
                font-size: 1rem;
                max-width: 15rem;              
            }
        }
        &__cta{
            padding: 2rem;
            h3{  font-size: 1.25rem;}
            button{padding: 1rem 4rem; min-width: 4rem;}
    
        }
    }
}
.teachers{
    background-color: #222222;
    min-height: 920px;
    h1{
        width: 53%;
        color: white;
        margin: 0 auto;
        padding: 40px;
        margin-left: 21%;
        letter-spacing:.15rem;
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
        text-align: center;
    }
    .teacherList{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 10px;
        .teacher-container{
            cursor: pointer;
            background-color: black;
            padding: 25px;
            color: white;
            .teacher{
                h3{
                    font-size:1.5rem;
                    color: #861D18;
                    margin: 0;
                }
                h5{
                    letter-spacing:.15rem;
                    font-size:1.15rem;
                    margin-top:8px;
                    color:#8D8D82;
                }
                img{
                    width: 300px;
                    height: 300px;
                }
            }        
        }
    }  
    @media screen and (max-width: 1030px){
        h1{
            width: 100%;
            margin: 0;
            text-align: center;
        }
        .teacherList{
            display: grid;
            grid-template-columns: repeat(2,23rem);
            gap: 1rem;
            margin-top: 2rem;;
            .teacher-container .teacher img {
                width: 100%;
                height: 100%;
            }
        }
    }
    @media screen and (max-width: 700px){
        h1{
            width: 85%;
            margin: 0;
            margin-left: auto;
        }
        .teacherList{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    @media screen and (max-width:350px){
        h1{ margin-left: -1.1rem;font-size: 1.75rem;}
    }
    @media screen and (max-width: 300px){
        h1 {
            margin-left: -2rem;
            font-size: 1.7rem;
        }

    }
  
}

.teacherDetails{
    background-color: #222222;
    padding: 3rem 0;
    max-height: fit-content;
    &--container{
        background-color: #222222;
        display: flex;
        align-items: center;
        color: white;
        background-image: url('../../assets//images/banner/banner1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:after{
            opacity:0.9;
            content:"";
            position:absolute;
            left:0;
            top:0;
            z-index:1;
            width:100%;
            height: 60%;
            background: #424242; /* Old browsers */
            background: -moz-linear-gradient(45deg, #424242 0%, #424242 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, #424242 0%,#424242 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, #424242 0%,#424242 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#424242',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
        
    }
    &__info{
        z-index: 5;
        width: 45%;
        height: 50%;
        margin-left: 50px;
        background: #222222;
        padding: 25px;
        letter-spacing: .2rem;
        .who{
            display: flex; 
            align-items: center;
            img{
                width: 150px;
                border-radius: 100%;
            }
            &__headers{
                margin-left: 20px;
                h2{
                    color: #C02D28;
                    font-size: 2.5rem;
                    margin:0;
                    margin-top: -50px;
                }
                h5{
                    letter-spacing:.15rem;
                    font-size:1.15rem;
                    color:#8D8D82;
                    margin:0;
                }
            }
            
        }
        .biography{
            color: lightgray;
            display: block;
            line-height: 1.75;
        }
    }
    
    &__courses{
        .title{
            letter-spacing:.15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            text-align: center;
            margin: auto;
            gap: 100px;
            width: 50%;
            border-bottom: 1px solid lightgray;
            .icon-btn{
                background:none;
                width:0;
            }
            h2{
                margin: 0;
                font-size:3rem;
                font-weight: 500;
                color: black;
                margin-left: 7rem;
            }
        }
        .items-wrapper{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: center;
            margin: 50px auto;
            .item{
                background: brown;
                color: white;
                cursor: pointer;
                height: min-content;
                width: 400px;
                height: 440px;
                padding:20px;
                h3{
                    text-transform: capitalize;
                    font-size:1.5rem;
                    opacity: 0.7;
                    color: white;
                    text-transform: capitalize;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                img{
                    width: -webkit-fill-available;
                    margin: 0 auto;
                    display: block;
                }
                p{
                    line-height:1.75;
                    text-transform: capitalize;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .cta-btn{
                    display: flex;
                    justify-content: space-between;
                    Button{
                        font-size: 1rem;
                    }
                }
            }
            .empty-courses{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 50px;
                p{
                    font-size:2rem;
                    opacity: 0.8;
                    color: black
                }
                .primary-btn{
                    padding: 10px;
                    // width: 100%;
                    @include checkoutBtn
                }
            }
        }  
        

    }
    @media screen and (max-width: 1030px){
       
    }
    @media screen and (max-width: 700px){
      
    }
    @media screen and (max-width:666px){
        &--container {
            background-image:none;
            &:after{display: none;}
        }
        &__info{
            width: 86% !important;
            margin: 1rem;
            height: 100% !important;
            margin-top: 10vh!important;
            .who__headers h2 {
                font-size: 2rem;
            }
        }
        &__courses{
            background:whitesmoke;

            .title{
                background:#222222;
                gap: 6rem;
                width: 100%;
                h2{font-size: 2rem; margin:0;}
                .icon-btn {
                    justify-content: center;
                }
            }
            .items-wrapper{
                background:#222222;
                margin:0 !important;
                .empty-courses{
                    margin: 1rem;
                    p{font-size: 1.5rem;}
                    .primary-btn .btn{
                        font-size: 1.25rem;
                        min-width: 10rem;
                        padding: 2rem;
    
                    }
                }
                .item{
                    background:whitesmoke;
                    border: 1px solid lightgray;
                    .cta-btn Button {
                        font-size: 1rem;
                        height: 3rem;
                        padding: 1rem 20px;
                        border-radius: 5px;
                    }
                }
            }
        }
        
    }
    @media screen and (min-width: 200px) and (max-width: 330px){
        &__info{
            .who__headers{
                margin-left: .5rem !important;
                h2{font-size: 1.5rem !important;}
                
            }
        }
        &__courses{
            .title h2 {
                font-size: 1.75rem;
                margin-left: -2rem;
            }
            .items-wrapper{
                .empty-courses .primary-btn .btn{
                    font-size: 1.1rem;
                }
                .item .cta-btn Button {
                    padding: 1rem;
                }
            }
        }

    }
}
.teacherProfile{
    display: flex;  
    p{color:white;}
    &__sidebar{
        max-width: 25vw;
        display: flex;
        flex-direction: column;
        background:rgb(92, 4, 92);
        height: 95vh;
        color: #fff !important;
        &>button{
            margin:  1rem;
            min-width: 3rem;
            min-height: 3rem;
            background-color: transparent;
            color: gray;
            border: 1px solid gray;
        }
    }
    &__content{
        width: 75vw;
        margin-left: 10rem;
        &--cta{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3rem;
            border: 2px solid lightgray;
            margin-top: 3rem;
            div{
                display: flex;
                button > img{
                    max-height: 4rem;
                }
                p{    
                    color: black;
                    font-size: 1.25rem;
                    opacity: 0.75;
                    margin-left: 5rem;
                }
            }
            .cta-btn{
                button{
                    padding: 1rem 3rem;
                    background-color: #E44F4F !important;
                    color: white;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    border: none;
                }                
            }
        }
        &--support{
            display:flex;
            flex-direction: column;
            h5{width:100%}
            .figures-container{
                display:flex;
                figure{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    max-width: 200px;
                    padding: 2rem 1rem;
                    // background-color: lightgray;
                    img{
                        // width: 30px;
                        height: 2.25rem;                    
                    }
                    figcaption{
                        text-align: center;
                        max-width: 14rem;
                    }
                }
            }
            
            
        }
        
    }
}
.pop-div{
    background: rgba(black, .9);
    .child{
        color: white;
        min-width: 600px;
        transition: all 3s ease-in-out;
        transform: translateY(5%);
        .login {
            background: transparent;
            position: relative;                            
            &__form-container {
                background: transparent;
                margin: 0 auto;
            }
            &__form-block form{
                .icons{
                    flex-direction: column;
                    .auth-btn {
                        width: 100%;
                    }
                }
            }  
        }
    }
}