.background-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: white;
    background-image: url('../../../assets//images/banner/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 20px;
    h1{
        color: white;
        z-index: 2;
        font-size: 3rem;
    }
    &:after{
        opacity:0.9;
        content:"";
        position:absolute;
        left:0;
        top:0;
        z-index:1;
        width:100%;
        height:300px;
        background: #4c1864; /* Old browsers */
        background: -moz-linear-gradient(45deg, #4c1864 0%, #4c1864 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #4c1864 0%,#4c1864 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #4c1864 0%,#4c1864 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#4c1864',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}
.profile{
    display: flex;
    margin: auto;
    max-width: 75vw;
    &__sidebar{
        display: flex;
        flex-direction: column;
        background: black;
        color: white!important;
        width: 20%;
        
        max-height: 60vh;
        border-radius: 10px;
        // border: 2px solid gray;
        margin-right: 50px;
        // position: fixed;
        .user-info{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            h4{
                color: white;
                font-size:1rem;
                text-align: center
            }
            .image-wrapper{
                margin-top: 20px;
                .hide-photo-input{
                    display:none
                }
                .user-profile-photo{
                    width: 118px;
                    border-radius: 100%;
                }
                .photo-title{
                    color: white;
                    text-align: center;
                    cursor: pointer;
                }
            }
            
        }
        .nav-links{
            display: flex;
            flex-direction: column;
           a{
                padding: .5rem;
                text-decoration: none;
                color: white;
                // margin: .5rem
           }
        }
    }
    &__edit-details{
        background-color: white;
        width: 50vw;
        padding: 50px;
        .details-form, .password-form{
            padding: 0px 10%;
            h4{
                text-align: center;
                font-size: 1.75rem;
                border: 2px solid gray;
                width: 50%;
                margin: 10px auto;
                margin-bottom: 25px;
                padding: 15px;
            }
            .password-error{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                padding: 0 10px;
                color: red;
            }
            .form-group{
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: baseline;
                .form-label{
                    display: block;
                    width: 100px;
                }
                .input-container{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    input{
                        width:  30vw;
                    }
                }
            }
        }
        .password-form{
            padding: 0px 10%;
            .form-group{
                // display: flex;
                flex-direction: column;
                // justify-content: center;
                // align-items: center;
                .form-label{
                    // display: block;
                    width: 100%;
                }
                .input-container{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    input{
                        width:  30vw;
                    }
                }
            }

        }
        .danger-area{
            border: 2px solid crimson;
            padding: 8% 0 4% 0;
            .form-group{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .form-label{
                    // display: block;
                    width: 10%;
                }
                .input-container{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    input{
                        width:  30vw;
                    }
                }
            }
            h4{
                // color: crimson;
                text-align: center;
                font-size: 1.75rem;
                border: 2px solid black;
                width: 50%;
                margin: 0 auto;
                margin-bottom: 25px;
                padding: 15px;
            }
            p{
                text-align: center;
                font-size: 1.15rem;
            }
            Button{
                cursor: pointer;
                font-weight: 600;
                font-size:.95rem;
                border: none;
                border-radius: .25rem;
                background-color:black;
                color: white;
                width: 350px;
                height: 50px;
                margin: 0 auto;
            }
        }
        .cta-btn-section{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            button{
                cursor: pointer;
                font-weight: 600;
                font-size:.95rem;
                border: none;
                border-radius: .25rem;
                background-color:black;
                color: white;
                width: 150px;
                height: 50px;
                &:not(:last-child){
                    margin-right: 5rem;
                }
                // padding: .5rem 1rem;
            }
        }
    }   
}

