$shadow: rgba(0, 0, 0, 0.05);
$smoke: whitesmoke;
$black: #1A1A1A;
$white: #ffffff;
$light-gray: #a6a6a6;
$gray: #838383;
$gray-200: #4E4E4E;
$gray-300: #4C4C4C;
$gray-400: #C4C4C4;
$dark-gray: #3C3B37;
$hover-gray: #DADADA;
$border-gray: #C0C0C0;
$red: #FF0202;
$font-charter: 'Charter';
$yellow: #FFBF2F;
$softBlue:#8ED1C4;
$darkBlue:#1D4C59;
$mediumBlue:#2f6990;
$gold: #eb861b;
$dark-gold: #dd7505;

// ====>> Forms <<====

$forms-heading-font-size: 28px;
$forms-heading-line-height: 20px;
