// @import '../../styles/variables.scss';
$gray: #a6a6a6;

.spinner-container {
  background-color: #F6F7FC;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  
  img.anime-loader{
    width: 150px !important;
    height: 150px !important;
    //max-width: 50px !important;
    text-align: center;
    margin: 0 auto;
    max-width: 100% !important;
  }

  &.bright{
    img.anime-loader{
      width: 140px !important;
      padding-bottom: 10px;
      height: auto !important;
      //max-width: 50px !important;
      text-align: center;
      margin: 0 auto;
      //max-width: 100% !important;
    }
  }
}
