// @import "../../styles/variables.scss";

.icon-btn{
  width: 24px;
  height: 24px;
  display: flex;
  flex-shrink: 0;
  border: 0;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  min-width: 24px;
  min-height: 24px;
  transition: all 0.23s ease-in-out;
  position: relative;
  &--favourite {
    background: red !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px!important;
  }
  img {
    margin: auto;
    &.cross {
      width: 8px;
      height: 8px;
    }
    &.info {
      width: 4px;
      height: 10px;
    }
    &.arrow2{
      width: 4px;

    }
    &.arrow {
      width: 6px;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &.menu {
      width: 10px;
    }
    &.heart2{
      width: 1rem;
      font-weight: bold;
    }
  }
  &.user--profile {
    height: 10px;
    width: 10px;
    background-color: black!important;
    margin-bottom: 0!important;
  }
  &.user--cart, &.user--favourites, &.user--notifications {
    width: 40px;
    background-color: white;
    color: gray;
    margin-right: 10px;
    &.user--notifications {
      margin-right: 30px;
    }
  }
  .badge{
    color: white;
    background-color:#E44F4F;
    display: flex;
    align-items: center;
    // border: #E44F4F;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50%;
    height: 10px;
    padding: 6px;
    margin-top: -5px;
  }

  @media screen and (max-width: 768px){
    &:hover{
      background: black!important;
    }
  }
  &--no-hover{
    background: black;
    &:hover{
      background: black;
    }
  }

  &--favourite{
    background: yellow;
    &:hover{
      background: yellow;
    }
  }
}
