.edit-course{
    // background-color: red;
    .background-hero{
    }

}
.courses-wrapper{
    margin: 0 155px;
    .courses-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
