// @import '../../styles/variables.scss';

.home{
  background-color: black;
  h1{
    font-weight: 100;
  }

  &-main{
    height: 100%;
    width: 100%;
    margin-top: -90px;
    //transition: height 1s ease-in-out;
    //-webkit-transition: height 1s ease-in-out;
    //-moz-transition: height 1s ease-in-out;
    box-sizing:border-box;
    .title{
      margin-top: 90px;
      font-family: "TT-Hoves", sans-serif;
    }
  }

  &-full{
    min-height: 100%;
    //margin-top: -90px;
  }

  .h2.dark.descrbe-best{
    display: none;
    @media(max-width: 576px){
      display: block;
      font-size: 28px;
      line-height: 34px;
      font-weight: bold;
      margin-top: 125px;
      text-align: left;
      padding: 0 25px;
    }
  }
  .buttons.buttons-outerwrap{
    display: none;
    @media(max-width: 576px){
      display: flex;
      padding-top: 55px;
      padding-bottom: 65px;
      flex-wrap: wrap;
    }
    button.button{
      @media(max-width: 576px){
        width: 33.3%;
        height: 125px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.15px;
        padding: 0;
      }
      @media(max-width: 476px){
        height: 100px;
      }
      p{
        @media(max-width: 576px){
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -0.15px;
        }
        @media(max-width: 475px){
          font-size: 14px;
          line-height: 1;
          letter-spacing: -0.15px;
        }
        @media(max-width: 400px){
          font-size: 12px;
          line-height: 1;
          letter-spacing: -0.15px;
        }
      }
    }
  }

  &__container{
    max-width: 900px;
    width: 100%;
    padding-top: 212px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__heading.dark{
    max-width: 710px;
    width: 100%;
    font-size: 58px;
    line-height: 63px;
  }
  .button{
    margin-top: 40px;
    border-radius: 0;
  }
  .blocks{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 105px;
    justify-content: space-between;
    margin-top: 186px;

    .block{
      width: 268px;
      overflow: hidden;
      height: 272px;

      .circle{
        width: 79px;
        height: 79px;
        border: 1px solid white;
        box-sizing: border-box;
        border-radius: 50%;
      }
      .h3{
        margin-top: 44px;
      }
      .p1{
        padding-top: 24px;
        padding-right: 44px;
        height: 95px;
      }
    }
  }
  .create-account{
    display: block;
    margin-top: 219px;
    margin-bottom: 49px;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
  }
  .h2.dark{
    font-size: 42px;
    line-height: normal;
    text-align: center;
  }
  .buttons{
    padding-top: 135px;
    padding-bottom: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    .button{
      margin-top: 0;
      font-size: 25px;
      width: 391px;
      height: 125px;

      p{
        font-size: 25px;
        font-family: "Maax", serif;
      }
    }
  }

  &__container{
    @media (max-width: 1199px){
      max-width: 877px !important;
      padding-left: 0;
      padding-right: 0;
      padding-top: 51px;
    }
    @media (max-width: 780px){
      max-width: 592px  !important;
    }
    @media (max-width: 687px){
      max-width: 500px  !important;
    }
    @media (max-width: 575px){
      max-width: 424px  !important;
    }
    @media (max-width: 425px){
      max-width: 310px !important;
    }
  }
}
@media(max-width:1040px){
  .home{
    .home__container{
      padding-top: 160px;
      //padding-left: 40px;
      //padding-right: 40px;
      box-sizing: border-box;

      h1{
        font-size: 48px;
      line-height: 60px;
      }
      .buttons{
        .button{
          width: 300px;
          height: 80px;
          p{
            font-size: 17px;
          }
        }
      }
      .blocks{
        margin-top: 100px;
      }
      .create-account{
        margin-top: 120px;
        margin-bottom: 40px;
      }
    }
  }
}

.home-exhibitions{
  & > div{
    .details-header{
      margin-top: 0 !important;
      padding-top: 0 !important;
      border-top: 0;
    }
  }
  .cards-container{
    & >:first-child{
      .exhibition{
        margin-top: 10px;
      }
    }
  }
  @media screen and (max-width: 1230px){
  padding-top: 120px !important;
  }
}

#home-title-wrapper{
  position: relative;
  .home-main{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.hide{
    animation: minimize 1.3s  0.2s forwards;
  }
  @keyframes minimize {
    to {
      height: 0;
    }
  }
}

@media screen and (max-width: 800px){
  .home{
    .home__container{
      padding-top: 0;
      h1{
        font-size: calc(4vw + 16px);
        line-height: normal;
        margin-top: calc(10vw + 30px);
      }
    }
  }
}

@media(max-width:768px){
  .home{
    .home__container{
      max-width: 700px;
      .create-account{
        margin-top: 70px;

      }
      .h2{
        font-size: 32px;
      }
      .buttons{
        padding-top: 70px;
        padding-bottom: 70px;
        .button{
          width: 250px;
          height: 70px;
        }
      }
    }
  }
}
@media screen and (max-width: 646px){
  .home {
    .home__container {
      .blocks{
        grid-row-gap: 50px;
        .block {
          width: 100%;
          display: grid;
          .p1{
            padding-right: 0;
          }
        }
      }
      .buttons{
        width: 100%;
        padding-top: 46px;

        .button{
          width: 50%;
          height: 64px;
          min-width: auto;
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media(max-width:576px){
  .exbition-wrap{
    padding-bottom: 50px;
  }
  .home .home__container .create-account{
    display: none;
  }
  .home .home__container .h2{
    display: none;
  }
  .home .home__container .buttons{
    display: none;
  }
  .button__large p {
    font-size: 19px;
  }
}
@media screen and (max-width: 510px){
  .home{
    &__container{
      max-width: 100% !important;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
@media screen and (max-width: 375px){
  .home__container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .home .blocks .block .h3 {
    font-size: 14px;
    text-align: left;
  }
  .home .home__container .blocks {
    grid-column-gap: 15px;
  }
  .home .home__container .blocks .block .p1 {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}
}
//.exhibitions-video-wrapper{
//  width: 100vw;
//  height: 100vh;
//  overflow: hidden;
//  video{
//    transform: translateZ(-1) scale(1.5);
//  }
//}
