/* shared styles */
.signup{
	display:flex;
	width: 100%;
	height: 100vh;
	background: #f6f7fc;
	position: relative;
	&__container {
		width: 100%;
		background: #f6f7fc; 
		align-self: center;		
	}
	.form-block, .form-success {
		flex-direction: row;
		align-items:center;
		justify-content:center;
		max-width: 500px;
		background: white;
		margin: auto;
		padding: 1.2rem 3rem;	
		-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); 
		@media (max-width: 767.98px) {	
			padding: 25px; 
		} 
		.heading{
			text-align: center;
			h2{
				font-size: 1.75rem;
				font-weight: 700;
			}
			p a{
				font-size: 18px;
				color: black;
				text-decoration: underline;
				padding-bottom: 0px;
			}
		} 
		.form-group {
			display:flex;
			flex-direction: column;
			margin-bottom: 1rem;
			font-size: 1rem;
			label{
				text-transform: capitalize;
				margin: .5rem;
			}
			input{
				background: aliceblue;
				padding: 1rem;
				border: none;
				border-radius: 4px;
				&:active{
					outline: none;
					-webkit-box-shadow: none;
					box-shadow: none; 
				}
			}
		}
		.btn-primary{
			width: 100%!important;
			margin-top: .5rem;
		}
		.link-primary {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: black !important;
			margin: auto !important;
			padding: 0 45px !important;
			font-size: 1.2rem;
			font-weight: 500;
			height: 55px !important;
			color: white;
			text-align: center;
			transition:all 0.3s;
			width: 50%;
			&:hover{
				margin-bottom: -10px !important;
			}
		}
	}
	.form-success{
		min-height: 200px!important;
		.success-message{
			font-size: 20px;
		}
	}
}

.signup{
	&__form-block {
		.seprater{
			text-align: center;
			display: block;
			margin: 1rem
		}
		.icons{
			display: flex;
			justify-content: space-around;
			gap: 1rem;
			.fb {
				background: #3b5998;
				color: #fff; 
			}

			.gl {
				background:  #ea4335;
				color: white;
				margin: 20px 0;
				box-shadow: 0px 10px 55px 10px rgba(0, 0, 0, 0.1);
				img{
				display: none!important;
				width: 30px;
				margin-right: 15px;
				padding-bottom: 3px;
				vertical-align: middle;
				border-style: none
				}
			}
		}
	}
	.form-success{
		.link-primary {
			padding: 0 45px;
			border-radius:0;
		}
	}
}

/* Resend component*/
.resend{
	&__form-block {
    	min-height: 250px;
	}
	.form-success{
		.link-primary {
			width: 100px;
			border-radius:0;
		}
	}

}

