.button.primary {
    padding: 0 45px !important;
    font-size: 1rem;
    height:55px!important;
	margin: auto !important
}

/* forgot component */
.forgot{
	display:flex;
	width: 100%;
	height: 100vh;
	background: #f6f7fc;
	position: relative;
	&__sidebar{
		background-image: url('../../../assets//images//bg2.jpg');
		position: sticky;
		left:0;
		top:0;
		z-index: 1;
		width: 25%;
		min-width: 500px;
		height: 100vh;
		background-position: center;
		text-align: center!important;
		align-items: center;
		display: flex;
		vertical-align: middle;
		a{
			display:block;
			width:100%;
			img{
				width: 40%;
			}
			@media (max-width: 767.98px) {
				  width: 100%;
				  height: 200px; 
			} 
		}
		&:after{
			opacity:0.9;
			content:"";
			position:absolute;
			left:0;
			top:0;
			z-index:-1;
			width:100%;
			height:100%;
			background: #4c1864; /* Old browsers */
			background: -moz-linear-gradient(45deg, #4c1864 0%, #4c1864 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg, #4c1864 0%,#4c1864 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(45deg, #4c1864 0%,#4c1864 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#4c1864',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
	}
	
	&__form-container {
		width: 75%;
		background: #f6f7fc; 
		align-self: center;		
	}
	&__form-block {
		flex-direction: row;
		align-items:center;
		justify-content:center;
		max-width: 400px;
    	min-height: 250px;
  	    background: white;
    	margin: auto;
    	padding: 50px;	
		-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); 
		@media (max-width: 767.98px) {	
			padding: 25px; 
		} 
		.heading{
			text-align: center;
			h2{
				font-size: 30px!important;
			}
			p a{
				font-size: 18px;
				color: black;
				text-decoration: underline;
				padding-bottom: 0px;
			}
		} 
		.success-message{
			font-size: 20px;
		}
		.success-btn{
			display: block;
			margin: auto !important;
			padding: 0 45px !important;
			font-size: 1rem;
			height: 55px !important;
			color: white;
			text-align: center;
			width: 100px;
		}
		.link-primary {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: black !important;
			margin:0 auto !important;
			padding: 0 45px !important;
			font-size: 1rem;
			height: 55px !important;
			color: white;
			text-align: center;
            // width: 50%;
			transition:all 0.3s;
			&:hover{
				margin-bottom: -30px !important;
			}
		}
	}
	
}

.form-group {
	display:flex;
	flex-direction: column;
	margin-bottom: 25px;
	font-size:18px;
	label{
		text-transform: capitalize;
		margin: 10px;
	}
    .form-control{
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; 
    }
	input{
		background: aliceblue;
		padding: 20px;
		border: none;
		border-radius: 4px;
		
	}
}