
@import  '../../../styles/mixins.scss';

.checkout{
    // padding: 100px;
    margin: auto;
    &__header{
        background-color:#14171C;
        color: white;
        vertical-align: middle;
        width: 100%;
        h1{
            padding: 60px 300px;
            text-transform: capitalize;
            font-family: 'ui-sans-serif',  cursive;
            font-size: 3rem;
            line-height: 1.287;
            margin: 0;
        }
    }
    &__content{
        padding: 50px 20rem;
        gap: 5rem;
        display:flex;
        justify-content: space-between;
        &--user-info{
            display: flex;
            flex-direction: column;
            h3{
                font-size: 1.5rem;
                color: #14171C;
                margin: 0;
            }
            p{  
                font-size:1.25rem;
                opacity:.7;
                // margin-top: 50px;
                // margin-bottom: 0;
            }
            .country-options{
                padding:.75rem 1.75rem;
                margin-bottom: 1rem;
                width: 150px;
            }
            .input-group{
                display: flex;
                font-size:1.13rem;
                margin: .75rem 0;
                input[type=radio]{
                    cursor: pointer;
                    margin-right: .5rem;
                    &:before {
                        border: 2px solid lightgray;
                    }
                }
                label{
                    opacity:.85;
                }
                img{
                    width: 70px;
                    margin-left:1rem;
                }
            }
            .card-form, .paypal-form{
                background: #F8F8F9;
                padding: 25px 15px;
                width: 550px;
                margin-bottom: 3rem;
                .name-number{
                    display: flex;
                    flex-direction: column;
                    .input-group{
                        input{
                            outline: none;
                            border:1px solid lightgray;
                            padding: .85rem;
                            margin: .75rem 0;
                            width: 90%   
                        }
                    }
                    .stripe-card{
                        font-size: 1.13rem;
                        margin: .75rem 0;
                        background-color: white;
                        outline: none;
                        border: 1px solid lightgray;
                        padding: .85rem;
                        margin: .75rem 0;
                        width: 90%;
                    }
                }
                .date-csv{
                    display: flex;
                    .input-group{
                        input{
                            outline: none;
                            border:1px solid lightgray;
                            padding: .7rem 2rem;
                            margin: .75rem 0;
                            width: 90% ;
                            &:first-child{
                                margin-right: 2rem;
                            }  
                        }
                    }
                    
                }
            }
            .paypal-form{
                p{
                    color: black!important;
                    font-size: 1rem;
                    padding:1rem;
                }
            }
            .order-details{
                display: flex;
                flex-direction: column;
                align-items: baseline;
                .item-card{
                    display:flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top:1rem;
                    margin-left:-2rem;
                    & > *{
                        margin: 0 .5rem;
                    }
                    h4{
                        font-size: .85rem;
                        opacity: .75;
                    }
                    img{
                        width:50px;
                        height:50px;
                        margin-left: 2rem;
                    }
                }
            }
        }

        &--sidebar{
            margin-top: 20px;
            padding:2rem;
            border: 1px solid lightgray;
            text-align: left;
            h3{
                font-size: 1.5rem;
                color: #14171C;
                margin: 0;
                margin-bottom: 1rem;
            }
            .original, .discounted, .total{
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    margin: 5px 0;
                }
            }
            .discounted{
                border-bottom: 1px solid lightgray;
                margin-bottom: 1rem;
            }
            .total{
                p, span{
                    font-weight: 700;
                }
            }
            .legal-message{
                color: #29303b;
                // opacity: 0.5;
                font-size: .85rem;
                line-height: 19px;
                margin-bottom: 8px;
                p{
                    a{
                        text-decoration:none;
                        color: #2F6990;
                        font-weight: 700;
                        &:hover{
                          color:  #143845
                        }
                    }
                }
            }
            @include checkoutBtn;
            .btn{
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
.paypal-button,
.paypal-button.paypal-button-color-gold, 
.paypal-button-color-gold, 
.paypal-button-row,
.paypal-button-row.paypal-button-color-gold .menu-button, 
.menu-button{
    background: #E44F4F!important;
}